body {
  margin: 0;
  font-family: 'Meiryo UI Bold', 'Meiryo UI Regular', 'Meiryo UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
